<mat-card class="card">    
    <mat-card-title class="card-title">        
        <img mat-card-avatar src="assets/img/profile.jpg" class="avatar-title">
        <span class="nome-title">{{ firstName }} {{ this.lastName }}</span>        
    </mat-card-title>
    <mat-card-subtitle>{{ role }}</mat-card-subtitle>
    <span>
        <p class="resume">Software developer @ MPS Informática</p>
        <p class ="resume">Computer Science Student @ PUCPR</p>
    </span>
    <app-skills></app-skills>
</mat-card>